@font-face {
    font-family: "Vazir";
    src: url("/Vazir-Regular.ttf");
}

body {
    font-family: "Vazir";
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    direction: rtl;
    text-align: right;
}